### List furthur more

In [5]:
# string.split('delimeter') default character is white character - space and tab

## List indexing 

l1 = ["one","two","three", "four", "five"]
print(l1[-1])

print (l1[1:2])
print(l1[1:-1:2]) # start index - 0 position, end index -1 ,step_size = 2(value at second step)

five
['two']
['two', 'four']

### List extend usnig '+'

In [6]:
# it uses extend list in the background not the append.

l2 = [10,30,40,80,90]
l3 = ['hari',"ria","eena"]
l4 = l2 +l3 
print(l4)

[10, 30, 40, 80, 90, 'hari', 'ria', 'eena']

### List count() function

In [15]:
l2 = [10,30,40,80,90,80,30,40,90,50,10,20,30,30]
l2.count(30)
for i in set(l2):
    print(i ," :",l2.count(i))

40  : 2
10  : 2
80  : 2
50  : 1
20  : 1
90  : 2
30  : 4

### List comprehension

In [20]:
## Printing the squares of the numbers in the list 
## Example 1 :

l1 = [1,3,9,7,8,2,3,4,5,6,7]

l2 = [ i**2 for i in set(l1)]
print(l2)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [22]:
## Example 2 :
## printing list comprehension with coditions
l1 = [4,5,6,3,5,45,34]

l3 = [x for x in l1 if x>=5]

l3

[5, 6, 5, 45, 34]

In [24]:
## Example 3 : 
## we have a ist of tuples  here [(number,square of that number)]
l1 = [-10,-20,10,20,50] 
l2 = [(i,i**2) for i in l1]
print(l2)

[(-10, 100), (-20, 400), (10, 100), (20, 400), (50, 2500)]

### useful for matrix calculation - Nested Lists

In [26]:
### Nested list - to calculate Transpose of the matrix


matrix = [[1,2,3,10],[4,5,6,11],[7,8,9,12]]

##transpose = [[ ]for i in range()] step-1 outer loop is defined in the outer list as list comprehension 

transpose = [[row[i] for row in matrix]for i in range(4)] 
# as for transpose each column will be row for new matrix. 4 cols here 
# we define inner loop for rows of matrix, 3 rows here 
# as we want each column element value as new row list element we use row[i] -as element value

print(transpose)

[[1, 4, 7], [2, 5, 8], [3, 6, 9], [10, 11, 12]]

In [ ]:
## Traditional approach for creating Transpose would be as follows :

### Another example for nested list on hacker rank :
#### <font color= red > To find the second minimum score in input list <font/>

INPUT : 
5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39

#### list to create 
 python students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

 **marksheet = []**<br>
**for _ in range( 0,int(input()) ):**<br>
> **marksheet.append( [ input(), float(input()) ] )** <br>
<br>

**second_highest = sorted(list(set([marks for name, marks in marksheet])))[1]** <br>
**print('\n'.join([a for a,b in sorted(marksheet) if b == second_highest]))**<br>

### <Font color = blue> SETS BEGIN FROM HERE ! <Font/>

- A set is an unorderd collection of data types.
- A set is mutable and unordered means it can't be indexed. that mean print(s[2]) won't work.
- A set could not hold duplicate data

In [2]:
s = {1,2,3,3,1,2,1,3,1,3,4,5}
print(s)

{1, 2, 3, 4, 5}

In [9]:
l1 = [1,2,54,6,4,6,7,4,6,5,6]
s = set(l1)
print(s)
s1 = set() #empty set
print(type(s1))

{1, 2, 4, 5, 6, 7, 54}
<class 'set'>

In [10]:
s ={1,3}
print(s[1])

TypeError: 'set' object does not support indexing

#### For adding and removing elements from the sets

In [15]:
s.add(2) # for adding element in the set
print(s)
s.update([1,2,4,2,4,2]) # update is used to add multiple element in the set via list 
print(s)

{1, 2, 3}
{1, 2, 3, 4}

In [18]:
# for removing elements from the sets use dicard property.
s.discard(4)  # discard doesn't generate any error whereas remove generate error when element to be deleted does not present in the list
s.remove(7)

KeyError: 7

In [17]:
print(s)

{1, 2, 3}

In [21]:
# Pop removes any element from sets randomly 
s = {1,2,3,4,5,6}
s.pop()
print(s)

{2, 3, 4, 5, 6}

In [22]:
# Clear removes all element from the set and provide you with empty set.
s.clear()
print(s)

set()

##### UNION AND INTERSECTION OPERATIONS

In [2]:
# UNION
# Pipe oerator is used for providing the union between two sets.
s1 = {1,2,3,4,5,6}
s2 = {2,4,8,9}

s3 = s1|s2
print(s3) # Both are correct ways of writing a union.
print(s1.union(s2)) # Both are correct ways of writing a union.

{1, 2, 3, 4, 5, 6, 8, 9}
{1, 2, 3, 4, 5, 6, 8, 9}

In [4]:
#INTERSECTION (using '&' operator as well)

print(s1.intersection(s2))
print(s1&s2)

{2, 4}
{2, 4}

In [6]:
# Set difference s1 -s2 (items in A but not in B)
# Use either ('-' or difference function)

print(s1-s2)
print(s1.difference(s2))

print(s2.difference(s1))

{1, 3, 5, 6}
{1, 3, 5, 6}
{8, 9}

In [9]:
## Symmetric difference 
## In ven diagram theory it is represented by (AUB) - (A.intersectionB) 
## Use '^' operator or symmetric_difference()

print(s1.symmetric_difference(s2))
print(s1^s2)

{1, 3, 5, 6, 8, 9}
{1, 3, 5, 6, 8, 9}

### issubset()

In [13]:
# find issubset()

A = {'a','d','e','s','c','t','d','p','g'}
B = {'c','d','p'}

print(A.issubset(B))
print(B.issubset(A))

False
True

### Forzen Sets

just like tuple(immutable):list(mutable) sets also have simmilar thing
Frozen_sets(immutable): sets(mutable)
- forzen sets has characterstics of sets, but we can't change once it is assigned, while tuples are immutable lists frozen sets are immutable sets.
- frozen sets can be created using function called frozenset().
- sets being mutable are unhashable ie we cant use them as dictionary keys. Frozensets can be used.
- this datatype supports functions like 
* copy()
* difference()
* intersection()
* isdisjoint()
* issubset()
* issuperset()
* symmetric_difference()
* union()

In [15]:
Z = frozenset({1,2,4,5,3,6})
Y = frozenset({9,8,6,7,4})

Y.add(10)

AttributeError: 'frozenset' object has no attribute 'add'

In [16]:
print(Z.union(Y))

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

In [17]:
print(Z.intersection(Y))

frozenset({4, 6})

In [18]:
print(Z.issubset(Y))

False