### STRINGS 

A very first reprsentation in python is for strings

You can create string variable using single , double,triple quotes

In [1]:
mystring = 'Hello'
print(mystring)

Hello

In [2]:
mystring = "Hello"
print(mystring)

Hello

In [3]:
mystring = '''Hello'''
print(mystring)

Hello

##### typically triple quotes are used for multiline comments

In [4]:
# string start with 0 
# last character can be obtained by -1 


print(mystring[0])
print(mystring[-1])
print(len(mystring))

H
o
5

## STRINGS AND TUPLES ARE IMMUTABLE 

### this means you cant assign single character from the another value once it is assigned 
### you cant replace an 'e' with 'o' with statements like mystring[2]='o' "Doesnt Work !!!"

### you cannot delete single element from string but can delete whole string

In [5]:
del mystring

print(mystring)

NameError: name 'mystring' is not defined

## Concatenation

In [6]:
s1 = 'hello! '
s2 = ' Trishala '

greetings = s1*2 +s2 

print(greetings)

hello! hello!  Trishala

## Iteration through string

In [5]:
## taking count 

count = 0
string = "I want to see the cherry blossom season in japan"
for i in string:
    if i =='o':
        count+=1
print(count , 'letter found')

4 letter found

## String membership test

In [8]:
print('e' in string )

True

In [9]:
print('ja' in string)

True

## String functions :

In [10]:
"Hello".lower()

'hello'

In [6]:
'jingel bells'.upper()

'JINGEL BELLS'

In [7]:
"this is my own python practice for data science".split()

['this', 'is', 'my', 'own', 'python', 'practice', 'for', 'data', 'science']

In [8]:
' '.join(['this', 'is', 'my', 'own', 'python', 'practice', 'for', 'data', 'science'])

'this is my own python practice for data science'

In [9]:
"Good Morning".find("Mo")

5

In [10]:
# String are immutable but here Replace function creates a new string. So the word is replaced in the new string.

"Bad Morning".replace("Bad","Good")

'Good Morning'

## Program to check pallandrome of string

In [16]:
mystr = "MadaM"

# convert the string into upper or lower string any of case 

mystr = mystr.lower()

# Using reverse string function 

mystr1 = reversed(mystr)

#checking if the new variable is equal to old variable 
# You cant check it directly mystr = mystr1 because both variable are pointing a different location in memory.
# hence best way is to convert them into list- [m,a,d,a,m]

if list(mystr) == list(mystr1):
    print(" This is a pallandrome string")
else:
    print(" This is not a pallandrome string")

 This is a pallandrome string

## Python program to sort words in Alphabetical order

In [17]:
mystr = "Python program to sort words in Alphabetical order"

# breaking string into words split() generate the list
words = mystr.split()

# Sorting the words through sort() which automatically sort alphabets into dictionary order

words.sort()

for word in words: 
    print(word)

Alphabetical
Python
in
order
program
sort
to
words

# <font color = 'blue'>LIST BEGINS FROM HERE </font>

#### collection of data elements 
* list are enclosed in [] (square braclets).
* item in the list are indexble and MUTTABLE.

In [2]:
# creating list 

empty_list = []

lst1 = [1,2,3,4,5] # list of intergers
lst2 = [['t','r'],[1,4],["you","me","us","i"]]
lst3 = [[1,2],[3,4]] # lists in lists
lst4 = [1,'ramu',24,2.4] #list of different data types

## Length of List

In [3]:
print(len(lst2))

3

 ## List Append `

In [18]:
lst = ['one','two','four','five']

lst.append('six')

In [19]:
print(lst)

['one', 'two', 'four', 'five', 'six']

## LIST INSERT

In [20]:
# to insert at certain position in the list we use list insert 

lst.insert(2,'three')

In [21]:
print(lst)

['one', 'two', 'three', 'four', 'five', 'six']

## LIST REMOVE

In [23]:
# only remove first ouccerance 

lst.remove('six')

## LIST APPEND and EXTEND

In [24]:
l1 = ['one', 'two', 'three', 'four', 'five', 'six']
l2 = ['seven','eight','nine']

# when we have to use append to add values directly in l1 

l1.append(l2)

print(l1)

['one', 'two', 'three', 'four', 'five', 'six', ['seven', 'eight', 'nine']]

In [1]:
l1 = ['one', 'two', 'three', 'four', 'five', 'six']
l2 = ['seven','eight','nine']

# now using Extend 

l1.extend(l2)
print(l1)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

## LIST DELETE

In [2]:
# using del or using pop()
del l1[1]

l1

['one', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [3]:
l1.pop(1)

'three'

In [4]:
l1

['one', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [5]:
l1.remove('nine')
l1

['one', 'four', 'five', 'six', 'seven', 'eight']

## List related keywords : 

* in
* not

In [1]:
L1 = ['one', 'four', 'five', 'six', 'seven', 'eight']

if 'one' in L1 :
    print('True')
if 'nine' not in L1:
    print('nine not present')

True
nine not present

## List Reverse function 
## List SORTING

In [10]:
L1 = [3,6,5,2,6,3,8,9]
# Decending Order 
L2 = sorted(L1, reverse = True)
print(L2)
# Ascending Order
L3 = sorted(L1)
print(L3)

[9, 8, 6, 6, 5, 3, 3, 2]
[2, 3, 3, 5, 6, 6, 8, 9]

In [11]:
## To use the same list a function attribute used for sorting is sort()
## Elements of the list should be of same type.

In [15]:
#L1.sort()
L1.sort()
print(L1)

[2, 3, 3, 5, 6, 6, 8, 9]

In [3]:
lx = [[1,9],[9,7],[5,4],[3,8]]
print(sorted(lx))
l1 =sorted(lx)[3]
print(l1)

[[1, 9], [3, 8], [5, 4], [9, 7]]
[9, 7]

### LIST having multiple references

In [13]:
lst = [1,2,3,5,6]

abc = lst 
# pointing to same list (reference variables)
print(abc)
lst.append(8)
print(abc)

[1, 2, 3, 5, 6]
[1, 2, 3, 5, 6, 8]

### String split to create list

In [16]:
s = 'one moment he was here and true another moment he was invisible and false'

words = s.split(' ') # given space character for sepration
print(words)

['one', 'moment', 'he', 'was', 'here', 'and', 'true', 'another', 'moment', 'he', 'was', 'invisible', 'and', 'false']