Tuple is just like List but its is immutable. 
Its element cant be changed once they are assigned.

In [1]:
t =() # Empty tuple

In [2]:
t=(1,2,3) #tuple with integer

In [5]:
t = (1,(2,3),[4,5,6],('stop')) # nested tuple and mixed datatype(includes list)

In [3]:
# only brackets are not enough to create a tuple 
t = ('stop')
type(t)

str

In [4]:
# we need to put comma with the single element to assign it as tuple 

t = ('stop',)
type(t)

tuple

In [5]:
# another way to create where brackets are not even essential to create a touple 
tup = 'startover',

In [6]:
type(tup)

print(type(tup))

<class 'tuple'>

#####  ACESSING THE ELEMENTS OF TUPLE

In [1]:
tup1 = ('honey','chiku','trisha','Puneet','shivani')

print(tup1[0])

honey

In [2]:
for i in range(len(tup1)):
    print(i, tup1[i])

0 honey
1 chiku
2 trisha
3 Puneet
4 shivani

In [8]:
# Accessing Nested touple
tup1 = (['honey','pragya','misthi'],('Nandy','shivani','shivansh'),['chiku','trisha','puneet'],('vijay','Bala'))

In [9]:
print(tup1[2][2])

puneet

In [10]:
## SLICING 

t = (1,2,3,4,5,6)

print(t[1:4]) # print elements from 2 element(index=1) upto 4 element (4 not included)
print(t[:-2]) # print(all elements except last two or upto -2 index (not included))
print(t[:]) # print start to end elements

(2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)

CHANGING TUPLES :

In [13]:
# tuple are immutable but inside nested tuple if list is present then we can assign element to it: 
tup1 = (['honey','pragya','misthi'],('Nandy','shivani','shivansh'),['chiku','trisha','puneet'],('vijay','Bala'))

tup1[0][2] = 'Aarna'
print(tup1)
tup1[1][0] = 'sahyog'

(['honey', 'pragya', 'Aarna'], ('Nandy', 'shivani', 'shivansh'), ['chiku', 'trisha', 'puneet'], ('vijay', 'Bala'))

TypeError: 'tuple' object does not support item assignment

In [28]:
# concatenateing tuples 

tup_n = (1,2,3,4) + (6,7,8,9)
print(tup_n)

(1, 2, 3, 4, 6, 7, 8, 9)

In [33]:
# repeatation of element in the touple with * operator 

t = (('satish',)*4)
print(t)

('satish', 'satish', 'satish', 'satish')

In [34]:
# Deleting a tuple 
# we cannot edit a tuple or remove a specific item from a tuple heane have to delete it as whole
del t

In [41]:
# Count and Index

t = (1,1,1,1,1,2,3,4,5,6)

tup1.count('honey')

0

In [40]:
t.count(1)

5

In [42]:
t.index(1)

0

In [43]:
t.index(3)

6

In [44]:
## TUPLE MEMBERSHIP 

print(1 in t)

True

In [45]:
print(9 in t)

False

In [46]:
# length and sort function 
print(len(t))

10

In [49]:
new_t = sorted(t)
print(new_t)

[1, 1, 1, 1, 1, 2, 3, 4, 5, 6]

In [50]:
# Other Functions : 
print(min(t))
print(max(t))
print(sum(t))

1
6
25