Tuple is just like List but its is immutable. 
Its element cant be changed once they are assigned.

In [1]:
t =() # Empty tuple

In [2]:
t=(1,2,3) #tuple with integer

In [5]:
t = (1,(2,3),[4,5,6],('stop')) # nested tuple and mixed datatype(includes list)

In [6]:
# only brackets are not enough to create a tuple 
t = ('stop')
type(t)

str

In [7]:
# we need to put comma with the single element to assign it as tuple 

t = ('stop',)
type(t)

tuple

In [8]:
# another way to create where brackets are not even essential to create a touple 
tup = 'startover',

In [10]:
type(tup)

print(type(tup))

<class 'tuple'>

#####  ACESSING THE ELEMENTS OF TUPLE

In [11]:
tup1 = ('honey','chiku','trisha','Puneet','shivani')

print(tup1[0])

honey

In [19]:
for i in range(len(tup1)):
    print(i, tup1[i])

0 honey
1 chiku
2 trisha
3 Puneet
4 shivani

In [20]:
# Accessing Nested touple
tup1 = (['honey','pragya','misthi'],('Nandy','shivani','shivansh'),['chiku','trisha','puneet'],('vijay','Bala'))

In [22]:
print(tup1[2][2])

puneet