# Data Types

In [2]:
# bool, int, float, str 
# python case sensitive


#a = True
#a

a = True
a

True

In [3]:
#Auto TypeCasting
#3 + 4.5

3 + 4.5

7.5

In [4]:
#Bool -> int -> float -> str # what exactly this line means ??

In [5]:
z = True
type(z)

bool

In [6]:
name = 'Sachin'
name

'Sachin'

# Type Casting

In [7]:
a = 3.4
type(a)

float

In [8]:
#forced / manual typecasting

int(a)

3

In [12]:
#auto type casting
5 + 6.7

#a=bool(6.7)
#a

11.7

In [10]:
# bool --> int --> float --->str

In [13]:
a= 3
b = 4.5
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [14]:
a + int(b)

7

In [15]:
3 + int('4')

7

In [44]:
# for boolean type True -> 1, False -> 0

False + 4

#True + 4

4

In [45]:
#Anything not zero is taken as booleon True
bool(-18)

True

In [22]:
3 + int('6')

9

In [23]:
3.5 + bool(-18) + int('3')

7.5

In [24]:
name = "Sachin"
type(name)

str

In [25]:
type(a)

int

In [26]:
b = 4.5

In [27]:
type(b)

float

In [21]:
z = True

In [28]:
type(z)

bool

In [29]:
a = 3
b = 5.4

In [30]:
c = a+b
c

8.4

In [32]:
type(c)

float

In [33]:
3.0 + False

3.0

In [34]:
int(3.4)

3

In [35]:
float(3)

3.0

In [42]:
bool(-18.9)

True

In [39]:
int(3.4 +bool(-20)+int(8.4)) # bool(-20) count as 1 to add up total as 12

12

In [46]:
a = "I am a Data Scientist"
b = 'I am Architect'
type(a)

str

In [47]:
a

'I am a Data Scientist'

In [48]:
# :  is a slicing operator
a[7:11]
'I am a Data Scientist'
'012345678901.........'

'012345678901.........'

In [49]:
a[7:]

'Data Scientist'

In [50]:
#a[:11]
a[:11]

'I am a Data'

In [52]:
print(a)
bool(a)

I am a Data Scientist

True

In [53]:
d = '32'
print(d)
type(d)

32

str

In [54]:
float(d)

32.0

In [55]:
b = 0
bool(b)

False

In [56]:
3 + 2.5

5.5

In [57]:
int('3') + 6.7 + bool("Me")

10.7

In [58]:
a = 3
b = 5.9
a+b

8.9

In [59]:
b = 3.9
c = False
b+c

3.9

In [60]:
d = '3'
d
a= 6
a+int(d)

9

In [62]:
a=3.5
b=5
print(type(a))
print(type(b))

<class 'float'>
<class 'int'>

In [63]:
int(a) +b

8

In [64]:
bool(-10) * 3

3

In [65]:
z = False
a*z

0.0

In [67]:
message = "Python Developer"
len(message)

16

In [68]:
message[10:3]

''

In [69]:
message[5:10]

'n Dev'

In [70]:
len(message[45:34])

0

In [71]:
message[45:34]

''

In [72]:
a='I am a Data Scientist'
type(a)

str

In [73]:
c = 20/6
c

3.3333333333333335

In [74]:
c1 = 20//6
c1

3

In [75]:
d = 'This is interesting'
d
len(d)

19

In [76]:
type(3)
type(4.0)

float

In [77]:
print(type(2))  # returns 'int’ 
print(type(2.0)) # returns 'float’ 
print(type('two')) # returns 'str’ 
print(type(True)) # returns 'bool’ 
print(type(None)) # returns 'NoneType'

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>

In [78]:
a=3.0
type(a)

float

In [79]:
a

3.0

# Math Operators

In [80]:
print(10 + 4) # add (returns 14) 
print(10 - 4) # subtract (returns 6) 
print(10 * 4) # multiply (returns 40) 
print(10**4) # exponent (returns 10000) 
print(10 / 4) # divide (returns 2.5) 
print(10 // 4) # divide (returns 2) 
print(5 % 4) # modulo (returns 1) - also known as the remainder

14
6
40
10000
2.5
2
1

# Logical / Comparision Operators

In [81]:
# comparisons (these return True) 
print(5 > 3 )
print(5 >= 3)
print(5 != 5)
print(5 == 5) # boolean operations (these return True) 

# evaluation order: not, and, or

True
True
False
True

In [82]:
(5>3) or (10>12)

True

In [83]:
print(5 > 3 and 6 < 3 )
print(5 > 3 or 5 < 3 )

False
True

In [84]:
True == bool(23)

True

In [85]:
(5 >= 3 or 6 > 100) and (True == bool(23))

True

In [86]:
 True and 18.9

18.9

# Conditional Statements

In [87]:
# Passing False as input to if block :

if (False):
    print("This is IF block")
else :
    print("This is Else Block")

This is Else Block

In [89]:
# Passing False as input to if block :

if (5<3) :
    print("True block statement 1")
else:
    print("False block")

False block

In [90]:
# Passing True as input to if block :
if (5 > 3) :
    print("True block statement 1")
else:
    print("False block")

True block statement 1

In [91]:
x = 0
if (x > 0) :
    print("X is Positive")

elif (x<0):
    print("X is Negative")   
else:
    print("X is ZERO")

x = 0 

if (x >0) :
    print("X is Positive")
elif (x<0) :
    print("X is negative")
else :
    print("X is zero")

X is ZERO
X is zero

In [93]:
x=-100

if ((x>0) or (x==-100)):
    print("X is positive Value or -100")
    print("I am if loop")
elif (x<0):
    print("I am in else if block")
    print("X is negative")
else:
    print("X is Zero")
    
print("I am out of IF looP")

x = 100

if ((x>0) or (x==-100)):
    print("X is positive value or X ia -100")
    print("I am inside of if Loop ")
elif (x<0):
    print("the value of x is negative")
else: 
    print("X is Zero")

X is positive Value or -100
I am if loop
I am out of IF looP
X is positive value or X ia -100
I am inside of if Loop

In [94]:
x = 6

if x%2 == 0 :
    print(x, " is even number")
else :
    print(x, " is ODD number")

print("this is out of IF else block")

6  is even number
this is out of IF else block

In [73]:
x = -20
# if/elif/else statement
if x > 0:
    print('positive') 
    print('hello')
elif x == 0: 
    print('zero') 
else: 
    print('negative') 
print("I am out of IF block")

negative
I am out of IF block

In [95]:
# single-line if statement (sometimes discouraged) 
x=5
if x > 0: print('positive')

positive

# Lists
 Python lists are very flexible and can hold completely heterogeneous, arbitrary data, and they can be appended to very efficiently.

In [96]:
# create an empty list (two ways) 
empty_list = [] 
empty_list = list() 
# create a list

In [97]:
b = [3,5,7,88,99]
b

[3, 5, 7, 88, 99]

In [98]:
print(b[2] ,b[0]  ,b[1])

7 3 5

In [99]:
a = [3,4.0,"Hi me?",True, 6,[5,"I am another list"]]
a

[3, 4.0, 'Hi me?', True, 6, [5, 'I am another list']]

In [100]:
type(a)

list

In [101]:
a[5]

[5, 'I am another list']

In [102]:
a[5][1]

'I am another list'

In [103]:
a[2]

'Hi me?'

In [104]:
a[1]

4.0

In [105]:
my_list = [3,4,15,5.9]
print(my_list)
type(my_list)

[3, 4, 15, 5.9]

list

In [106]:
my_list.sort()
my_list

[3, 4, 5.9, 15]

In [107]:
myfamily = ['mom','dad','me']
myfamily

['mom', 'dad', 'me']

In [108]:
myfamily.extend(['wife','bro','daughter'])

myfamily

['mom', 'dad', 'me', 'wife', 'bro', 'daughter']

In [109]:
myfamily.append(['wife','bro','daughter'])

myfamily

['mom', 'dad', 'me', 'wife', 'bro', 'daughter', ['wife', 'bro', 'daughter']]

In [110]:
myfamily.insert(2,'test_insert')
myfamily

['mom',
 'dad',
 'test_insert',
 'me',
 'wife',
 'bro',
 'daughter',
 ['wife', 'bro', 'daughter']]

In [111]:
myfamily

['mom',
 'dad',
 'test_insert',
 'me',
 'wife',
 'bro',
 'daughter',
 ['wife', 'bro', 'daughter']]

In [112]:
myfamily.pop(3)

'me'

In [113]:
myfamily

['mom',
 'dad',
 'test_insert',
 'wife',
 'bro',
 'daughter',
 ['wife', 'bro', 'daughter']]

In [114]:
myfamily.remove('bro')

In [115]:
myfamily

['mom', 'dad', 'test_insert', 'wife', 'daughter', ['wife', 'bro', 'daughter']]

In [116]:
family = ['wife', 'test_insert', 'mom', 'me', 'daughter', 'dad', 'bro']
family.extend(['brother','uncle','aunt'])

family

['wife',
 'test_insert',
 'mom',
 'me',
 'daughter',
 'dad',
 'bro',
 'brother',
 'uncle',
 'aunt']

In [117]:
myfamily

['mom', 'dad', 'test_insert', 'wife', 'daughter', ['wife', 'bro', 'daughter']]

In [118]:
myfamily.append('append_test')
myfamily

['mom',
 'dad',
 'test_insert',
 'wife',
 'daughter',
 ['wife', 'bro', 'daughter'],
 'append_test']

In [98]:
family.insert(4,"sis")
family

['wife',
 'test_insert',
 'mom',
 'me',
 'sis',
 'daughter',
 'dad',
 'bro',
 'brother',
 'uncle',
 'aunt']

In [99]:
family.pop(5)

'daughter'

In [100]:
family

['wife',
 'test_insert',
 'mom',
 'me',
 'sis',
 'dad',
 'bro',
 'brother',
 'uncle',
 'aunt']

In [102]:
family.remove('me')

In [104]:
family.pop(2)

'mom'

In [106]:
myfamily

['dad',
 'daughter',
 'mom',
 'test_insert',
 'wife',
 ['wife', 'bro', 'daughter'],
 'append_test']

# Tuples
A tuple is a sequence of immutable Python objects. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets. Creating a tuple is as simple as putting different comma-separated values.

In [119]:
# create a empty tuple 
empty_tuple = ()
empty_tuple1 = tuple()

type(empty_tuple), type(empty_tuple)

(tuple, tuple)

In [1]:
# create a tuple 
digits = (0, 1, 'two',0,1,1,1)  # create a tuple directly 
#recommend way to by using tuple function

list_val = [0, 1, 'two']

digits = tuple(list_val)  # create a tuple from a list 
# examine a tuple 
print(digits[2])  # returns ‘two’ 
print(len(digits)) # returns 3 
print(digits.count(0))  # counts the number of instances of that value (0) digits.index(1)  # returns the index of the first instance of that value (1)

two
3
1

In [2]:
# create a tuple 
digits1 = (0, 1, 'two',0,1,1,1)  # create a tuple directly 
# examine a tuple 
print(digits1.count(1))  # counts the number of instances of that value (0) digits.index(1)  # returns the index of the first instance of that value (1) 
len(digits1)

4

7

In [146]:
digits[1]= 'one' #returns an assignment error

TypeError: 'tuple' object does not support item assignment

In [3]:
my_tuple = (1,3.0,'works')
print(my_tuple)

(1, 3.0, 'works')

In [4]:
my_tuple2 = tuple(["this works too",8,10,True])
print(my_tuple2)
type(my_tuple2)

('this works too', 8, 10, True)

tuple

# Strings

In [6]:
# create a string 
s = 'I like you' # examine a string 

print(s[0]) # returns 'I’ 
print(len(s)) # returns 10 
# string slicing like lists
print(s[:6]) # returns 'I like’
print(s[7:]) # returns 'you’
print(s[-1] )# returns 'u'

I
10
I like
you
u

In [113]:
s = 'I am a Data Scientist'
s[-9:]

'Scientist'

In [114]:
s[:-9]

'I am a Data '

In [115]:
snew = 'Hello Data Science World'
snew[-5:-2]

'Wor'

In [116]:
snew[6:3]

''

# Dictionaries
Python dictionary is an unordered collection of items. While other compound data types have only value as an element, a dictionary has a key: value pair.

Dictionaries are optimized to retrieve values when the key is known.

In [117]:
# create an empty dictionary (two ways) 
empty_dict = {} 
empty_dict = dict() 
# create a dictionary (two ways) 
my_pro = {'name':'Ashok', 'job':'Data Scientist', 
          'location':"bangalore", "years_exp":17} 
cust_profile = dict(cust_id = 24,name='Anand', age=30, 
                    job=['programmer','CEO','Data Scientist'],
                    location="bangalore", years_Exp=17) 
cust_profile['cust_id']

24

# Sets
A set contains an unordered collection of unique and immutable objects. The set data type is, as the name implies, a Python implementation of the sets as they are known from mathematics. This explains, why sets unlike lists or tuples can't have multiple occurrences of the same element.

In [118]:
# create an empty set
empty_set = set()
# create a set
lang = {'python', 'r', 'java'} # create a set directly 
snakes = set(['cobra', 'viper', 'python','python']) # create a set from a list 
print(lang)
print(snakes)

{'java', 'r', 'python'}
{'cobra', 'python', 'viper'}

In [147]:
snakes.union(lang)

{'cobra', 'java', 'python', 'r', 'viper'}

In [148]:
snakes.intersection(lang)

{'python'}

In [149]:
# examine a set 

lang.intersection(snakes)

{'python'}

# Functions

In [123]:
def squareit(x=0):
    if(x==0):
        print("please give a number for squaring")
    else:
        return x**2


squareit(3)

9

In [9]:
#weight in kgs, height in cms.
def bmi(weight,height):
     return weight / (height/100)**2
bmi(3,7)

612.2448979591836

In [11]:
#weight in kgs, height in cms.
def bmi_test(weight,height = 2):
     return weight / (height/100)**2
    
print(bmi_test(3))

print(bmi_test(6, 9))

7500.0
740.7407407407408

In [126]:
def sayhello():
    return print("HELOOOOO")

In [127]:
bmi(74,176)

23.889462809917354

In [128]:
bmi_test(74,176)

23.889462809917354

In [129]:
bmi_test(50) # height take default value = 2

125000.0

In [130]:
sayhello()

HELOOOOO

In [12]:
def c2f(deg):
    return deg*(9/5)+32





def bmi(weight,height):
     return weight / (height/100)**2


bmi(78,182)

23.54788069073783

In [132]:
ban_temp=c2f(23)
ban_temp

73.4

In [133]:
def iseven(x=0):
    if (x==0):
        return print("please provide arg")
    elif (x%2==0):
        return True
    else:
        return False

In [134]:
z = iseven(7)

In [135]:
z

False

In [136]:
# define a function with one argument and no return values 
def print_this(x): print(x) 

print_this(2)

2

# Loops

In [120]:
# alternative for loop (recommended style)
fruits = ['apple', 'banana', 'cherry','mango'] 

for fruit in fruits: 
        print(fruit)

apple
banana
cherry
mango

In [121]:
print(fruit)

mango

In [122]:
print(fruits)

['apple', 'banana', 'cherry', 'mango']

In [124]:
for fruit in fruits: 
        print(fruit[0])

a
b
c
m

In [141]:
fruit[0]

'm'

In [151]:
for x in range(3):
    print(x," hello")

0  hello
1  hello
2  hello

In [13]:
print(range(10))

range(0, 10)