In [1]:
x = 'Pluto is a planet'
y = "Pluto is a planet"

In [2]:
x==y

True

In [3]:
print("Pluto's a planet!")
print('My dog is named "Pluto"')

Pluto's a planet!
My dog is named "Pluto"

In [4]:
hello = "hello\nworld"
print(hello)

hello
world

In [5]:
triplequoted_hello = """hello
world"""
print(triplequoted_hello)
triplequoted_hello == hello

hello
world

True

In [6]:
print("hello")
print("world")
print("hello", end='')
print("pluto", end='')

hello
world
hellopluto

In [7]:
#Strings are sequences 

# Indexing
planet = 'Pluto'
planet[0]

'P'

In [8]:
# Slicing
planet[-3:]

'uto'

In [9]:
# How long is this string?
len(planet)

5

In [10]:
# Yes, we can even loop over them
[char+'! ' for char in planet]

['P! ', 'l! ', 'u! ', 't! ', 'o! ']

In [11]:
# But a major way in which they differ from lists is that they are immutable. We can't modify them.

In [12]:
planet[0] = 'B'
# planet.append doesn't work either

TypeError: 'str' object does not support item assignment

In [13]:
# ALL CAPS
claim = "Pluto is a planet!"

claim.upper()

'PLUTO IS A PLANET!'

In [14]:
# all lowercase
claim.lower()

'pluto is a planet!'

In [15]:
# Searching for the first index of a substring
claim.index('plan')

11

In [16]:
claim.startswith(planet)

True

In [17]:
# false because of missing exclamation mark
claim.endswith('planet')

False

In [18]:
words = claim.split()
words

['Pluto', 'is', 'a', 'planet!']

In [19]:
datestr = '1956-01-31'
year, month, day = datestr.split('-')

In [20]:
'/'.join([month, day, year])

'01/31/1956'

In [21]:
# Yes, we can put unicode characters right in our string literals :)
' üëè '.join([word.upper() for word in words])

'PLUTO üëè IS üëè A üëè PLANET!'

* Building strings with .format()
* Python lets us concatenate strings with the + operator.

In [22]:
planet + ', we miss you.'

'Pluto, we miss you.'

In [23]:
position = 9
planet + ", you'll always be the " + position + "th planet to me."

TypeError: can only concatenate str (not "int") to str

In [24]:
position = 9
planet + ", you'll always be the " + str(position) + "th planet to me."

"Pluto, you'll always be the 9th planet to me."

In [25]:
"{}, you'll always be the {}th planet to me.".format(planet, position)

"Pluto, you'll always be the 9th planet to me."

In [26]:
pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390

In [27]:
"{} weighs about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format(planet,pluto_mass,pluto_mass/earth_mass,population)

"Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

In [28]:
s = """Pluto's a {0}.
No, it's a {1}.
{0}!
{1}!""".format('planet', 'dwarf planet')
print(s)

Pluto's a planet.
No, it's a dwarf planet.
planet!
dwarf planet!

In [29]:
numbers = {'one':1, 'two':2, 'three':3}

In [30]:
numbers['one']

1

In [31]:
numbers['eleven'] = 11
numbers

{'one': 1, 'two': 2, 'three': 3, 'eleven': 11}

In [32]:
numbers['one'] = 'Pluto'
numbers

{'one': 'Pluto', 'two': 2, 'three': 3, 'eleven': 11}

In [33]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = {planet: planet[0] for planet in planets}
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [34]:
'Saturn' in planet_to_initial

True

In [35]:
'Betelgeuse' in planet_to_initial

False

In [36]:
for k in numbers:
    print("{} = {}".format(k, numbers[k]))

one = Pluto
two = 2
three = 3
eleven = 11

In [37]:
# Get all the initials, sort them alphabetically, and put them in a space-separated string.
' '.join(sorted(planet_to_initial.values()))

'E J M M N S U V'

In [38]:
#The very useful dict.items() method lets us iterate over the keys and values of a dictionary simultaneously. (In Python jargon, an item refers to a key, value pair)


for planet, initial in planet_to_initial.items():
    print("{} begins with \"{}\"".format(planet.rjust(10), initial))

   Mercury begins with "M"
     Venus begins with "V"
     Earth begins with "E"
      Mars begins with "M"
   Jupiter begins with "J"
    Saturn begins with "S"
    Uranus begins with "U"
   Neptune begins with "N"

In [39]:
 word = 'your Maejisty'

In [41]:
word[-1]

'y'

In [42]:
word[:-1]

'your Maejist'

In [43]:
word[-1:]

'y'

In [45]:
print(word[-1:])
print(word[-1])

y
y